<% include header.ejs %>
<div class="container">
    <form action="/add" class="form-horizontal" role="form" method="post" >
        <!--姓名-->
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名: </label>
            <div class="col-sm-3">
                <input type="text" name="name" class="form-control" placeholder="姓名" required="required" pattern="[\u4e00-\u9fa5]{2,4}" id="name"/>
            </div>
        </div>

        <!--年龄-->
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">年龄: </label>
            <div class="col-sm-2">
                <select name="age" id="age" class="form-control">
                    <option value="18" selected>18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>

        <!--联系方式-->
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">联系方式: </label>
            <div class="col-sm-3">
                <input type="tel" name="phone" class="form-control" placeholder="联系方式" required="required" pattern="^1[3-8]\d{9}$" id="phone"/>
            </div>
        </div>

        <!--邮箱-->
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱: </label>
            <div class="col-sm-4">
                <input type="email" name="email" class="form-control" placeholder="邮箱" required="required" id="email"/>
            </div>
        </div>

        <!--个人介绍-->
        <div class="form-group">
            <label for="introduce" class="col-sm-2 control-label">个人介绍: </label>
            <div class="col-sm-5">
                <textarea name="introduce" rows="10" cols="30" placeholder="个人简介" class="form-control" required="required"></textarea>
            </div>
        </div>

        <!--提交-->
        <div class="form-group" >
            <div class="col-sm-2 col-sm-offset-2">
                <input type="submit" class="form-control btn btn-success" name="submit" id="submit" value="提交" />
            </div>

        </div>
    </form>
</div>

<% include footer.ejs %>