
<br>
<%if(user){%>
<div class="container">
    <% if(!isFirstPage){ %>
    <span class="prepage">
        <a class="btn-default btn" href="?page=<%= page - 1 %>">上一页</a>
    </span>
    <%}%>
    <% if(!isLastPage){ %>
    <span class="nextpage">
        <a class="btn-default btn" href="?page=<%= page + 1 %>">下一页</a>
    </span>
    <%}%>
</div>
<%}%>